/ISSUE_TEMPLATE.md
/LICENSE_AFL.txt
/LICENSE.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/.htaccess
/CHANGELOG.md
/composer.json
/composer.lock
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/var/composer_home/
/var/di/
/var/generation/
/var/log/
/var/page_cache/
/var/report/
/var/tmp/
/var/view/preprocessed/
/bin/
/dev/
/lib/
/phpserver/
/pub/
/setup/
/update/
