/ISSUE_TEMPLATE.md
/LICENSE_AFL.txt
/LICENSE.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/.htaccess
/CHANGELOG.md
/composer.json
/composer.lock
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/var/
/bin/
/dev/
/lib/
/phpserver/
/pub/
/setup/
/update/
