<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Brainworx_Medipimsync2::medipim" title="Medipim Sync" module="Brainworx_Medipimsync2" 
        sortOrder="50" parent="Magento_Backend::content" resource="Brainworx_Medipimsync::medipim" />
        <add id="Brainworx_Medipimsync2::sync" title="Synced Entities" module="Brainworx_Medipimsync2"
         sortOrder="0" parent="Brainworx_Medipimsync2::medipim" action="medipimsync2/sync" 
         resource="Brainworx_Medipimsync2::sync"/>
    </menu>
</config>