<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Brainworx\Medipimsync2\Api\Data\SyncInterface" type="Brainworx\Medipimsync2\Model\Sync" />
</config>